<%= form_for(@school) do |f| %>
  <% if @school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% @school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field form-group">
    <%= f.label :student %><br>
    <%= f.text_field :student, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :teacher %><br>
    <%= f.text_field :teacher, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :pet %><br>
    <%= f.number_field :pet, class: "form-control" %>
  </div>
  <div class ="filed form-group">
    <%= f.label "Photo" %><br>
    <%= f.file_field :avatar %>
  </div>
  <div class="actions form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
  <% end %>
